In [39]:
import pandas as pd
import numpy as np
from IPython.display import HTML, display

In [40]:
users_ss1 = pd.read_csv('trainDatasets/users_ss1.csv')
users_ss2 = pd.read_csv('trainDatasets/users_ss2.csv')
users_ss3 = pd.read_csv('trainDatasets/users_ss3.csv')
users_humans = pd.read_csv('trainDatasets/users_gen.csv')
users_humans.head(2)

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,notifications,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1,test_set_2
0,1502026416,TASUKU HAYAKAWA,0918Bask,2177,208,332,265,1,NaN,ja,...,NaN,15years ago X.Lines24,NaN,NaN,Tue Jun 11 11:20:35 +0000 2013,2013-06-11 13:20:35,2015-05-02 06:41:46,2016-03-15 15:53:47,0,0
1,2492782375,ro_or,1120Roll,2660,330,485,3972,5,NaN,ja,...,NaN,保守見習い地元大好き人間。 経済学、電工、仏教を勉強中、ちなDeではいかんのか？ (*^◯^*),NaN,NaN,Tue May 13 10:37:57 +0000 2014,2014-05-13 12:37:57,2015-05-01 17:20:27,2016-03-15 15:53:48,0,0

In [41]:
users_ss1.loc[:,'bot'] = True
users_ss2.loc[:,'bot'] = True
users_ss3.loc[:,'bot'] = True
users_humans.loc[:,'bot'] = False

users_ss1.loc[:,'user_type'] = 'Spambot_1'
users_ss2.loc[:,'user_type'] = 'Spambot_2'
users_ss3.loc[:,'user_type'] = 'Spambot_3'
users_humans.loc[:,'user_type'] = 'Human'

In [42]:
users = pd.concat([users_ss1,users_ss2,users_ss3,users_humans],ignore_index=True)
users.head()

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,bot,contributors_enabled,crawled_at,created_at,default_profile,default_profile_image,description,favourites_count,follow_request_sent,followers_count,...,statuses_count,test_set_1,test_set_2,time_zone,timestamp,updated,url,user_type,utc_offset,verified
0,True,NaN,2014-04-19 14:46:19,Tue Mar 17 08:51:12 +0000 2009,1.0,1.0,NaN,1,NaN,22,...,1299,1.0,NaN,Rome,2009-03-17 09:51:12,2016-03-15 14:12:22,NaN,Spambot_1,7200.0,NaN
1,True,NaN,2014-05-18 23:20:58,Sun Apr 19 14:38:04 +0000 2009,NaN,NaN,Autrice del libro #unavitatuttacurve dal 9 apr...,16358,NaN,12561,...,18665,1.0,NaN,Greenland,2009-04-19 16:38:04,2016-03-15 14:17:13,http://t.co/ceK8TovxwI,Spambot_1,-7200.0,NaN
2,True,NaN,2014-05-13 23:21:54,Wed May 13 15:34:41 +0000 2009,NaN,NaN,[Live Long and Prosper],14,NaN,600,...,22987,1.0,NaN,Rome,2009-05-13 17:34:41,2016-03-15 14:16:44,NaN,Spambot_1,7200.0,NaN
3,True,NaN,2014-05-19 23:24:18,Wed Jul 15 12:55:03 +0000 2009,NaN,NaN,"Cuasi Odontologa*♥,#Bipolar, #Sarcastica & Som...",11,NaN,398,...,7975,1.0,NaN,Pacific Time (US & Canada),2009-07-15 14:55:03,2016-03-15 14:18:54,NaN,Spambot_1,-25200.0,NaN
4,True,NaN,2014-05-11 23:22:23,Wed Aug 05 21:12:49 +0000 2009,NaN,NaN,"I shall rise from my own death, to avenge hers...",162,NaN,413,...,20218,1.0,NaN,Rome,2009-08-05 23:12:49,2016-03-15 14:17:05,http://t.co/PK5F0JDKcy,Spambot_1,7200.0,NaN

In [43]:
[x for x in zip(users.columns, users.iloc[0,:].values)]

[('bot', True),
 ('contributors_enabled', nan),
 ('crawled_at', '2014-04-19 14:46:19'),
 ('created_at', 'Tue Mar 17 08:51:12 +0000 2009'),
 ('default_profile', 1.0),
 ('default_profile_image', 1.0),
 ('description', nan),
 ('favourites_count', 1),
 ('follow_request_sent', nan),
 ('followers_count', 22),
 ('following', nan),
 ('friends_count', 40),
 ('geo_enabled', 1.0),
 ('id', 24858289),
 ('is_translator', nan),
 ('lang', 'it'),
 ('listed_count', 0),
 ('location', nan),
 ('name', 'Davide Bertoli'),
 ('notifications', nan),
 ('profile_background_color', 'C0DEED'),
 ('profile_background_image_url',
  'http://abs.twimg.com/images/themes/theme1/bg.png'),
 ('profile_background_image_url_https',
  'https://abs.twimg.com/images/themes/theme1/bg.png'),
 ('profile_background_tile', nan),
 ('profile_banner_url', nan),
 ('profile_image_url',
  'http://abs.twimg.com/sticky/default_profile_images/default_profile_1_normal.png'),
 ('profile_image_url_https',
  'https://abs.twimg.com/sticky/default_profile_images/default_profile_1_normal.png'),
 ('profile_link_color', '0084B4'),
 ('profile_sidebar_border_color', 'C0DEED'),
 ('profile_sidebar_fill_color', 'DDEEF6'),
 ('profile_text_color', '333333'),
 ('profile_use_background_image', 1.0),
 ('protected', nan),
 ('screen_name', 'davideb66'),
 ('statuses_count', 1299),
 ('test_set_1', 1.0),
 ('test_set_2', nan),
 ('time_zone', 'Rome'),
 ('timestamp', '2009-03-17 09:51:12'),
 ('updated', '2016-03-15 14:12:22'),
 ('url', nan),
 ('user_type', 'Spambot_1'),
 ('utc_offset', 7200.0),
 ('verified', nan)]

In [44]:
users = users[[
    'id', #...id
    'screen_name', #@user
    'name', #complete name
    'description',
    'verified',
    'crawled_at',
    'location',
    'url',
    'created_at',
    'statuses_count',
    'listed_count',
    'favourites_count',
    'followers_count',
    'friends_count',
    'bot',
    'user_type'
]]

users.columns = [
    'id',
    'screen_name',
    'complete_name',
    'description',
    'verified',
    'crawled_at',
    'location',
    'url',
    'created_at',
    'tweet_count',
    'listed_count',
    'favs_count',
    'followers_count',
    'following_count',
    'bot',
    'user_type'
]
users.index = users.id.values

In [45]:
users.head(5)

,id,screen_name,complete_name,description,verified,crawled_at,location,url,created_at,tweet_count,listed_count,favs_count,followers_count,following_count,bot,user_type
24858289,24858289,davideb66,Davide Bertoli,NaN,NaN,2014-04-19 14:46:19,NaN,NaN,Tue Mar 17 08:51:12 +0000 2009,1299,0,1,22,40,True,Spambot_1
33212890,33212890,ElisaDospina,Elisa D'Ospina,Autrice del libro #unavitatuttacurve dal 9 apr...,NaN,2014-05-18 23:20:58,Italy,http://t.co/ceK8TovxwI,Sun Apr 19 14:38:04 +0000 2009,18665,110,16358,12561,3442,True,Spambot_1
39773427,39773427,Vladimir65,Donato Vincenzo,[Live Long and Prosper],NaN,2014-05-13 23:21:54,"iPhone: 45.471680,9.192429",NaN,Wed May 13 15:34:41 +0000 2009,22987,6,14,600,755,True,Spambot_1
57007623,57007623,RafielaMorales,Rafiela Morales L.,"Cuasi Odontologa*♥,#Bipolar, #Sarcastica & Som...",NaN,2014-05-19 23:24:18,"ÜT: 18.4698712,-69.9327525",NaN,Wed Jul 15 12:55:03 +0000 2009,7975,2,11,398,350,True,Spambot_1
63258466,63258466,FabrizioC_c,§ h a † u r♄,"I shall rise from my own death, to avenge hers...",NaN,2014-05-11 23:22:23,Firenze,http://t.co/PK5F0JDKcy,Wed Aug 05 21:12:49 +0000 2009,20218,8,162,413,405,True,Spambot_1

In [47]:
users.to_pickle('trainDatasets/users_dataset.pkl')